asgiref==3.11.0
astroid==3.2.4
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
dill==0.3.8
Django==6.0
django-filter==25.2
djangorestframework==3.16.1
et-xmlfile==1.1.0
gunicorn==25.1.0
idna==3.7
isort==5.13.2
mccabe==0.7.0
openpyxl==3.1.5
packaging==26.0
pillow==11.1.0
platformdirs==4.2.2
psycopg2-binary==2.9.11
pylint==3.2.6
pypdf==5.2.0
PyPDF2==3.0.1
requests==2.32.3
Send2Trash==1.8.3
sqlparse==0.5.5
tomlkit==0.13.2
tzdata==2025.3
urllib3==2.2.2
